
.App{
 background-color: rgb(219, 209, 209);
}
.list{
 
  color: rgb(55, 55, 105);
  margin-left: 30px;
 
}
.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mb-2{
  width:370px;
}
.card_header{
  background-color:rgb(55, 55, 105);
  color:white;
}
span {
 color: blue;
 font-size:medium;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
p{
  color: black;
  font-size:medium;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}